<div id="<%= dom_id question %>">
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Body</p>
    <%= question.body %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Answer</p>
    <%= question.answer %>
  </div>
  <div class="mb-4">
    <p class="text-sm font-medium text-gray-500">Subject</p>
    <%= question.subject_id %>
  </div>
</div>
